.header {
    width: 50%;
    text-align: center;
    margin-bottom: 24px;
}

.title {
    margin: 18px 0;
    margin-top: 13%;
}

.categoryContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.categoryBtn {
    margin: 0 5px;
    background-color: #85a292;
    border-radius: 5px;
    padding: 4px 16px;
}

.categoryBtn:hover {
    transform: translateY(-1px);
    opacity: 0.9;
}