.container {
    width: 100%;
    margin-top: 20px;
    display:flex;
}

.list__container {
    display: flex;
    flex-direction: column;
    width: 45%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.item {
    width:100%;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px;
    background-color: white;
}


.item__form {
    display: flex;
    justify-content: space-between;
}

.item__btn {
    height: 100%;
    background-color: transparent;
    border: none;
}